In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data=pd.read_excel("D:\YEAR2SEM2\DATA VISUALIZATION AND STORYTELLING\DATA VIZ\Mag6PlusEarthquakes_1900-2013.xlsx")
data

<>:1: SyntaxWarning: invalid escape sequence '\Y'
<>:1: SyntaxWarning: invalid escape sequence '\Y'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_1592\297151258.py:1: SyntaxWarning: invalid escape sequence '\Y'
  data=pd.read_excel("D:\YEAR2SEM2\DATA VISUALIZATION AND STORYTELLING\DATA VIZ\Mag6PlusEarthquakes_1900-2013.xlsx")

,time,Date,Time,Unnamed: 3,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-03-17T05:11:34.980Z,2014-03-17,05:11:34,NaN,-20.0030,-70.8741,17.0,6.2,mww,NaN,82.0,1.171,1.37,us,usc000ndw9,2014-03-17T14:57:11.000Z,"80km WNW of Iquique, Chile",earthquake
1,2014-03-16T21:16:30.770Z,2014-03-16,21:16:30,NaN,-19.9246,-70.6278,20.0,6.7,mww,NaN,44.0,0.929,1.16,us,usc000ndnj,2014-03-17T18:43:29.249Z,"60km WNW of Iquique, Chile",earthquake
2,2014-03-15T23:51:30.610Z,2014-03-15,23:51:30,NaN,-5.5660,-80.8790,9.8,6.3,mwp,NaN,90.0,6.253,1.00,us,usc000nd0c,2014-03-18T17:52:18.000Z,"6km W of Sechura, Peru",earthquake
3,2014-03-15T08:59:21.790Z,2014-03-15,08:59:21,NaN,-14.0935,-76.2968,20.0,6.1,mww,NaN,71.0,2.159,1.02,us,usc000ncbl,2014-03-16T05:34:44.387Z,"25km S of Paracas, Peru",earthquake
4,2014-03-13T17:06:50.800Z,2014-03-13,17:06:50,NaN,33.6793,131.8197,79.0,6.3,mwb,NaN,14.0,0.963,1.26,us,usc000nabv,2014-03-17T23:24:32.491Z,"15km NNE of Kunisaki-shi, Japan",earthquake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8308,1900-01-31T19:22:00.000Z,1900-01-31,19:22:00,NaN,48.0000,146.0000,450.0,7.5,mj,0.0,NaN,NaN,NaN,centennial,centennial19000131192200,2013-07-09T19:07:15.000Z,northwest of the Kuril Islands,earthquake
8309,1900-01-20T06:33:00.000Z,1900-01-20,06:33:00,NaN,20.0000,-105.0000,0.0,7.3,mw,0.0,NaN,NaN,NaN,centennial,centennial19000120063300,2013-07-09T19:07:15.000Z,"Jalisco, Mexico",earthquake
8310,1900-01-18T07:46:00.000Z,1900-01-18,07:46:00,NaN,44.5000,148.5000,35.0,6.7,mj,0.0,NaN,NaN,NaN,centennial,centennial19000118074600,2013-07-09T19:07:15.000Z,Kuril Islands,earthquake
8311,1900-01-11T09:07:00.000Z,1900-01-11,09:07:00,NaN,-5.0000,148.0000,0.0,7.0,ms,0.0,NaN,NaN,NaN,centennial,centennial19000111090700,2013-07-09T19:07:15.000Z,Bismarck Sea,earthquake
8312,1900-01-05T19:00:00.000Z,1900-01-05,19:00:00,NaN,-3.0000,102.0000,0.0,7.0,ms,0.0,NaN,NaN,NaN,centennial,centennial19000105190000,2013-07-09T19:07:15.000Z,"southern Sumatra, Indonesia",earthquake

In [4]:
data.columns

Index(['time', 'Date', 'Time', 'Unnamed: 3', 'latitude', 'longitude', 'depth',
       'mag', 'magType', 'nst', 'gap', 'dmin', 'rms', 'net', 'id', 'updated',
       'place', 'type'],
      dtype='object')