In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
bikes=pd.read_csv('Bike_Sales.csv')
bikes.head(7)

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695.0,12/1/2021,1.0,December,2021.0,39.0,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,"$1,252.00","$2,295.00","$4,172.00","$5,008.00","$9,180.00"
1,261696.0,12/1/2021,1.0,December,2021.0,44.0,Adults (35-64),M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
2,261697.0,12/2/2021,2.0,December,2021.0,37.0,Adults (35-64),M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,$420.00,$769.00,$698.00,$840.00,"$1,538.00"
3,261698.0,12/2/2021,2.0,December,2021.0,31.0,Young Adults (25-34),F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,$420.00,$769.00,$349.00,$420.00,$769.00
4,261699.0,12/3/2021,3.0,December,2021.0,37.0,Adults (35-64),F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,"$1,252.00","$2,295.00","$2,086.00","$2,504.00","$4,590.00"
5,261700.0,12/3/2021,3.0,December,2021.0,24.0,Youth (<25),F,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Black, 38",1.0,"$1,252.00","$2,295.00","$1,043.00","$1,252.00","$2,295.00"
6,261701.0,12/3/2021,3.0,December,2021.0,37.0,Adults (35-64),M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,"$1,252.00","$2,295.00","$1,043.00","$1,252.00","$2,295.00"

In [6]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_Order #        88 non-null     float64
 1   Date                 88 non-null     object
 2   Day                  88 non-null     float64
 3   Month                88 non-null     object
 4   Year                 88 non-null     float64
 5   Customer_Age         88 non-null     float64
 6   Age_Group            88 non-null     object
 7   Customer_Gender      88 non-null     object
 8   Country              88 non-null     object
 9   State                88 non-null     object
 10  Product_Category     88 non-null     object
 11  Sub_Category         88 non-null     object
 12  Product_Description  88 non-null     object
 13  Order_Quantity       88 non-null     float64
 14   Unit_Cost           88 non-null     object
 15   Unit_Price          88 non-null     object
 16   Profit              88 non-null     object
 17   Cost                88 non-null     object
 18  Revenue              88 non-null     object
dtypes: float64(5), object(14)
memory usage: 13.3+ KB

In [4]:
bikes.shape

(89, 19)

In [5]:
bikes.dtypes

Sales_Order #          float64
Date                    object
Day                    float64
Month                   object
Year                   float64
Customer_Age           float64
Age_Group               object
Customer_Gender         object
Country                 object
State                   object
Product_Category        object
Sub_Category            object
Product_Description     object
Order_Quantity         float64
 Unit_Cost              object
 Unit_Price             object
 Profit                 object
 Cost                   object
Revenue                 object
dtype: object